.heading{
    color: red;
}

li{
    list-style: none;
}

.nba-image{
    height: 100px;
    width: 100px;
}

.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-child{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 10px;
}

.border-danger{
    border: 2px solid red;
    padding: 5px;
}